* {
    box-sizing: border-box;
}

:root {
    --monospace-color: hsl(27, 16%, 70%);
    --custom-testcase-background: rgba(233, 229, 0, 0.05);
}
.vscode-light {
    --monospace-color: hsl(27, 16%, 30%);
    --custom-testcase-background: rgba(31, 30, 0, 0.05);
}

body {
    min-width: 320px;
    padding-bottom: 4em;
}

pre {
    margin: 0px;
    padding: 5px;
}

/* fix problem with generated HTML */
span.verb * {
    font-family: monospace !important;
    color: var(--monospace-color);
    font-size: 96%;
    user-select: text;
}
div.lstlisting * {
    color: var(--foreground) !important;
    font-size: 110%;
}
span.lstinline * {
    /* color: var(--foreground) !important; */
    font-size: 100%;
    font-style: normal;
    font-family: monospace !important;
    color: var(--monospace-color) !important;
}
span.pcrr7t- {
    font-size: 110% !important;
}

textarea {
    background: var(--input-background);
    font-family: Consolas, "Ubuntu Mono", monospace;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    outline: none !important;
    border: 0px;
    color: bisque;
    max-width: 100%;
    max-height: 250px !important;
    overflow-y: auto;
    resize: none;
    border: 1px solid var(--input-background);
    margin-bottom: 4px;

    &:focus,
    &:active {
        background: black;
        outline: none !important;
        border: 1px solid #3393cc;
    }
}

.icon {
    --icon-size: 1.2em;
    width: var(--icon-size);
    height: var(--icon-size);

    & svg {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}
.icon-button {
    & .text {
        margin-left: 0.6em;
    }
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

.selectable {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    cursor: text !important;
}

::-webkit-resizer {
    display: none;
}

.received {
    display: none;
}

.running-text {
    color: yellow;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.9rem;

    & .whitespace-char {
        color: #6a9955; /* light green for special chars */
        opacity: 0.7;
        font-size: 0.9em;
    }
    & .passed {
        color: green !important;
    }
    & .failed {
        color: red !important;
    }
}

.DISABLED.problem-code {
    opacity: 50%;
}

#header {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
    line-height: 145%;
    gap: 0.6em;

    & h2 {
        margin: 0;
    }
}

#statement {
    max-width: 42em;
    margin: auto;
    margin-bottom: 2em;
    line-height: 145%;
    & h1 {
        margin-top: 4rem;
        font-size: 2.1rem;
        line-height: 1;
    }
    & h3 {
        font-size: 2rem;
        margin: 0.6em 0 1.2em;
        line-height: 116%;
    }
    & h4 {
        margin-block-end: 0.6em;
    }
    & p + p {
        margin-top: 0.6em;
    }
    & code {
        font-family: monospace;
    }
    & math {
        font-size: 1.05rem;
    }
    & math[display="block"] {
        padding: 1em 0;
    }
    & pre {
        color: var(--monospace-color);
        background: var(--vscode-textPreformat-background);
        border-radius: 0.2em;
    }
    & pre > code {
        background: none !important;
    }
    & #autor,
    & #author {
        margin-top: 2em;
        font-weight: 500;
        font-size: 1.1em;
        margin-bottom: 0.2em;
    }
    & #autor + p,
    & #author + p {
        margin: 0;
        font-size: 0.9em;
    }
    & #autor + p + p,
    & #author + p + p {
        font-size: 0.85em;
        font-style: italic;
        opacity: 50%;
        text-align: center;
    }
}

.small-button {
    cursor: pointer;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    border-radius: 0.2em;
    padding: 0.2em 0.3em;
    background-color: rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.text-button {
    cursor: pointer;
    filter: grayscale(100%);
    padding: 1px 4px;
    opacity: 0.5;
    font-size: 0.7rem;

    &:hover {
        opacity: 1;
    }
}

.testcases {
    margin-top: 2em;

    & .header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.4em 0 0.6em;

        & h2 {
            margin: 0;
            font-size: 1.1rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            column-gap: 0.6em;
        }
    }

    & .buttons {
        flex-grow: 1;
        flex: 1;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.4em;
    }

    & .panels {
        display: flex;
        flex-direction: column;
        gap: 0.8em;

        & .testcase {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            gap: 0.4em;

            background: var(--checkbox-background);
            border: 1px solid var(--panel-view-border);
            border-left: 0.4em solid var(--panel-tab-foreground);
            border-radius: 0.4em;
            padding: 0.3em;

            & .toggle-minimize {
                display: flex;
                align-items: center;
                flex-grow: 1;
                margin: 0;
                padding: 0;
                gap: 1rem;

                &:hover {
                    cursor: pointer;
                }
                &:hover .title {
                    filter: brightness(150%);
                }
            }

            &.running {
                border-left-color: yellow !important;
            }
            &.passed {
                border-left-color: green !important;
            }
            &.failed {
                border-left-color: red !important;
            }

            & .metadata {
                display: flex;
                flex-direction: row;
                gap: 0.4em;

                & .title {
                    margin: 0;
                    margin-right: 0.4em;
                    font-size: 0.95rem;
                    font-weight: bolder;
                    color: var(--list-active-selection-foreground);

                    & .icon {
                        font-size: 0.8rem;
                    }
                }
            }

            & .content {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                row-gap: 0.6em;
                padding: 0.3rem;

                &.compare {
                    flex-direction: column;
                }

                @media (width <= 640px) {
                    flex-direction: column;
                    gap: 0.6em;
                }

                & .title {
                    font-size: 0.8rem;
                    margin-bottom: 0.25em;
                    font-style: italic;
                    opacity: 75%;
                }

                & .two-column {
                    display: flex;
                    flex-direction: row;
                    gap: 0.6em;
                    @media (width <= 640px) {
                        flex-direction: column;
                    }
                }

                & .container {
                    flex: 1;
                    overflow: visible;
                    position: relative;

                    & .title {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: baseline;
                    }

                    & .textarea {
                        display: block;
                        background: var(--background);
                        font-family: "Iosevka", "Consolas", "Ubuntu Mono", monospace;
                        border: 1px solid var(--panel-view-border);
                        border-radius: 0.2em;
                        resize: none;
                        flex-shrink: 0;
                        flex-grow: 0;
                        overflow-y: auto;
                        overflow-x: auto;

                        & pre {
                            line-height: 1.2;
                        }
                        & pre .text-muted {
                            color: var(--foreground);
                            opacity: 27%;
                        }
                    }

                    & .compare-diff {
                        position: absolute;
                        top: -0.3em;
                        right: 0;
                        cursor: pointer;
                        padding: 0.1em 0.3em;
                        border-radius: 0.1em;
                        background-color: var(--vscode-button-secondaryBackground);
                        color: var(--vscode-button-secondaryForeground);
                        font-size: 0.85em;

                        &:hover {
                            background-color: var(--vscode-button-secondaryHoverBackground);
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        & .testcase.custom {
            background: var(--custom-testcase-background);
        }
    }
}

/* Tailwind-like utils */
.font-normal {
    font-weight: normal;
}
.text-md {
    font-size: 0.95rem;
}
.text-sm {
    font-size: 0.85rem;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.mt-4 {
    margin-top: 1em;
}
.w-full {
    width: 100%;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.right {
    position: absolute;
    right: 0;
}
.relative {
    position: relative;
}
.pr-20 {
    padding-right: 5em;
}
.select-none {
    user-select: none;
}
