* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    cursor: default !important;
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

pre {
    margin: 0px;
    padding: 5px;
}

/* fix problem with generated HTML */
span.verb * {
    font-family: monospace !important;
}
div.lstlisting * {
    color: var(--foreground) !important;
    font-size: 110%;
}
span.lstinline * {
    color: var(--foreground) !important;
    font-size: 110%;
}

textarea {
    background: var(--input-background);
    font-family: Consolas, "Ubuntu Mono", monospace;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    outline: none !important;
    border: 0px;
    color: bisque;
    max-width: 100%;
    max-height: 250px !important;
    overflow-y: auto;
    resize: none;
    border: 1px solid var(--input-background);
    margin-bottom: 4px;

    &:focus,
    &:active {
        background: black;
        outline: none !important;
        border: 1px solid #3393cc;
    }
}

.vscode-light textarea {
    background: rgba(255, 255, 255, 0.5);
    outline: none !important;
    border: 1px solid lightgrey;

    &:focus {
        background: white;
        border: 1px solid rgb(28, 145, 184);
    }
}

.icon {
    --icon-size: 1.4em;
    width: var(--icon-size);
    height: var(--icon-size);

    & svg {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

.icon-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;

    & .text {
        margin-left: 0.6em;
    }
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

.container {
    position: relative;
}

.selectable {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    cursor: text !important;
}

::-webkit-resizer {
    display: none;
}

.received {
    display: none;
}

.running-text {
    color: yellow;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.15em;

    & .whitespace-char {
        color: #6a9955; /* light green for special chars */
        opacity: 0.7;
        font-size: 0.9em;
    }
    &.passed {
        color: green !important;
    }
    &.failed {
        color: red !important;
    }
}

.container {
    position: relative;
}

.clipboard {
    position: absolute;
    right: 0;
    top: 0;
}

.DISABLED.problem-code {
    opacity: 50%;
}

#header {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;

    & h2 {
        margin: 0;
    }
}

#statement {
    max-width: 42em;
    margin: auto;
    margin-bottom: 2em;
    line-height: 145%;
    & h3 {
        font-size: 2rem;
        margin: 0.6em 0 1.2em;
    }
    & h4 {
        margin-block-end: 0.6em;
    }
    & p + p {
        margin-top: 0.6em;
    }
}

.testcases {
    & .header {
        display: flex;
        flex-direction: row;
        @media (width <= 480px) {
            flex-direction: column;
            gap: 0.3em;
        }
        column-gap: 0.2em;
        padding: 0.8em 0 0.8em;

        & h2 {
            margin: 0;
        }

        & .buttons {
            flex: 1;
            flex-shrink: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 0.4em;
        }
    }

    & .panels {
        display: flex;
        flex-direction: column;
        gap: 1.1em;
        padding: 0.5em;

        & .testcase {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            gap: 0.4em;

            background: var(--checkbox-background);
            border: 1px solid var(--panel-view-border);
            border-left: 0.4em solid var(--panel-tab-foreground);
            border-radius: 0.4em;
            padding: 0.7em;

            & .toggle-minimize {
                display: flex;
                align-items: center;
                flex-grow: 1;
                margin: 0;

                &:hover {
                    cursor: pointer;
                }
                &:hover .title {
                    filter: brightness(150%);
                }
            }

            &.running {
                border-left-color: yellow !important;
            }
            &.passed {
                border-left-color: green !important;
            }
            &.failed {
                border-left-color: red !important;
            }

            & .metadata {
                display: flex;

                & .title {
                    margin: 0;
                    margin-right: 0.4em;
                    font-size: 1.1rem;
                    font-weight: bolder;
                    color: var(--list-active-selection-foreground);
                }

                & .run-button .icon-button {
                    transform: scale(0.8);
                }
            }

            & .content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                gap: 1.2em;

                &.compare {
                    flex-direction: column;
                }

                @media (width <= 640px) {
                    flex-direction: column;
                    gap: 0.6em;
                }

                & .title {
                    margin-bottom: 0.5em;
                    font-style: italic;
                }

                & .output {
                    display: flex;
                    flex-direction: row;
                    gap: 0.6em;
                    @media (width <= 640px) {
                        flex-direction: column;
                    }
                }

                & .container {
                    flex: 1;
                    position: relative;
                    overflow-x: auto;

                    & .textarea {
                        display: block;
                        background: var(--background);
                        font-family: "Iosevka", "Consolas", "Ubuntu Mono", monospace;
                        border: 1px solid var(--panel-view-border);
                        border-radius: 0.2em;
                        resize: none;
                        flex-shrink: 0;
                        flex-grow: 0;
                        overflow-y: auto;
                        overflow-x: auto;

                        & pre {
                            line-height: 1.2;
                        }
                        & pre .text-muted {
                            color: var(--foreground);
                            opacity: 27%;
                        }
                    }

                    & .clipboard {
                        filter: grayscale(100%);
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        padding: 4px;
                        cursor: pointer;
                        opacity: 0.5;
                        font-size: 80%;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    & .compare-diff {
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                        padding: 3px 5px;
                        border-radius: 3px;
                        background-color: var(--vscode-button-secondaryBackground);
                        color: var(--vscode-button-secondaryForeground);
                        font-size: 0.85em;

                        &:hover {
                            background-color: var(--vscode-button-secondaryHoverBackground);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

/* Tailwind-like utils */
.font-normal {
    font-weight: normal;
}
.text-md {
    font-size: 0.95rem;
}
.text-sm {
    font-size: 0.85rem;
}
.flex-grow-1 {
    flex-grow: 1;
}
